.pane {
	/* Border */
	-fx-border-color: #000000;
	-fx-border-width: 2px;
}

.board {
	/* Background */
	-fx-background-image: url("../images/background.jpg");
   	-fx-background-position: center center; 
   	-fx-background-repeat: repeat;
}

.player {
	/* Border */
	-fx-border-color: #000000;
	-fx-border-width: 1px;
	
	/* Effects */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.activePlayer {
	/* Border */
	-fx-border-color: limegreen;
	-fx-border-width: 3px;
}

.statusText {
	/* Color */
	-fx-background-color: #1A1A1A; 
	-fx-text-fill: white;
	
	/* Padding */
	-fx-label-padding: 3px 0px 3px 7px;
	
}

.instructionsText { 
	/* Font */
	-fx-font: 16px "Lucida Sans";
	
	/* Color */
	-fx-text-fill: white;
	
	/* Padding */
	-fx-label-padding: 15px 0px 0px 0px;
	
	/* Layout */
	-fx-alignment: center;
}

.diceButton {
	/* Font */
	-fx-font-size: 14px;
	
	/* Padding between graphic and text */
	-fx-graphic-text-gap: 20px;
	
}

.diceButton:hover {
    -fx-cursor: hand;
}

.nofocus {
	-fx-focus-color: transparent;
}

.imageBorder {
	/* Border */
	-fx-border-color: turquoise;
	-fx-border-width: 2px;
	-fx-border-insets: -2px;
}